@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-admin">
    <h1>Adminstrator Page</h1>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>


    <div class="card text-white bg-secondary " style=" max-width:500px; font-size:12px">
        <ul class="list-group list-group-flush" style="width: 500px;">
            <li class="list-group-item bg-secondary"> <a href="/admin/member"><strong>สมาชิก</strong></a> แก้ไขสมาชิก เพิ่มสินค้าที่ลูกค้าซื้อ</li>
            <li class="list-group-item bg-secondary"> <a href="/admin/product"><strong>สินค้่า</strong> </a>เพิ่ม/แก้ไขสินค้า และรายละเอียดสินค้า</li>
            <li class="list-group-item bg-secondary"> <a href="/admin/product-faq"><strong>คู่มือสินค้่า</strong></a> เพิ่ม/แก้ไข คู่มือสินค้า</li>
            <li class="list-group-item bg-secondary"> <a href="/admin/product-manual"><strong>คำถามที่พบบ่อยเกี่ยวกับสินค้า</strong></a> คำถามที่พบบ่อยเกี่ยวกับสินค้า</li>
        </ul>
    </div>
</div>
