@{
    ViewBag.Title = "การจัดการผู้ใช้งาน";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>แก้ไขผู้ใช้งาน</h2>

<div style="padding-left:40px;">
    @using (Html.BeginForm("UpdateManualDetail", "admin", FormMethod.Post))
    {
      
    }
</div>