.admin.table{
    font-size:13px;
}

div.admin {
    /*  font-size:13px; */
}

.admin input {
    /* font-size: 13px;*/
}

.admin textarea {
    min-width:280px;
    /* font-size: 13px;*/
}

.col-form-label{
    font-weight:bold;
}

.form-label {
    margin-top: 6px;
}

.custom-file{
    margin: 10px 0 4px 0;
    max-width:300px;
}