.admin.table {
    font-size: 13px;
}

/*div.admin {
     font-size:13px; 
}

.admin input {
     font-size: 13px;
}*/

.admin textarea {
    min-width: 280px;
    /* font-size: 13px;*/
}

.admin .faq textarea {
    min-width: 400px;
    /* font-size: 13px;*/
}


.col-form-label {
    font-weight: bold;
}

.form-label {
    margin-top: 6px;
}

.custom-file {
    margin: 10px 0 4px 0;
    max-width: 300px;
}

/*.question-item {
    position: relative;
}*/

.question-tem-text {
    padding-left: 13px;
    font-size: 14px;
}

.question-tem-text-answer {
    padding-left: 13px;
    font-size: 14px;
}

.question-item:before {
    content: "\f078";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    padding-right: 0.5em;
    position: absolute;
    top: 20px;
    left: 9px;
}

.question-item.collapsed:before {
    content: "\f054";
}

.container-admin {
    padding: 0 25px 0 25px;
}

.admin-menu-head {
    color: #e8f7b1;
    font-size: 17px;
}
