body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
}

@media (max-width: 576px) {
    .header-content {
        padding: 0;
    }
}

.navbar {
    padding-top: 0;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Register, Update Member */

.register textarea {
    width: 100%;
}

.no-padding {
    padding: 0;
}

#dropArea {
    background: #b5b5b5;
    border: black dashed 1px;
    height: 50px;
    text-align: center;
    color: #fff;
    padding-top: 12px;
}

.active-drop {
    background: #77bafa !important;
    border: solid 2px blue !important;
    opacity: .5;
    color: black !important;
}

@media (min-width: 576px) {
    .card-deck .card {
        max-width: 323px;
        min-width: 323px;
        margin-bottom: 15px;
    }
}

.card {
    max-width: 323px;
    min-width: 323px;
}

.card.faq {
    max-width: 100%;
    min-width: 323px;
}

.card-header.faq {
    padding: 0.25rem 0.25rem;
}

.card-body.faq {
    font-size: 14px;
    padding-left: 22px;
}

.card-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0;
}

.card-text.expired-date {
    color: #b1bacc;
}

.card a:link {
    color: #fff;
    text-decoration: none;
}

.card a:visited {
    color: #fff;
    text-decoration: none;
}

.card-text {
    font-size: 15px;
}

.manual-content {
    padding: 0 10px 0 10px;
}

.btn-link {
    font-weight: 400;
    color: #cad1d8;
    background-color: transparent;
}

.btn-link:hover {
    color: #fff;
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
}